binance-futures-connector
idna
json5
jsonpatch
jsonpointer
jsonschema
packaging
pandas
pyasn1
pyasn1-modules
pycparser
pyinotify
pymacaroons
PyMySQL
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
PyYAML
requests
requests-unixsocket
service-identity
simplejson
six
SQLAlchemy>=1.4.29
urllib3
